### Import Libraries and load Data

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
sns.set()
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 10000)
pd.set_option('display.width', 1000)
#Load Data
master = pd.read_csv(r"file1.csv", low_memory=False)
online = pd.read_csv(r"file2.csv", low_memory=False)
outlook = pd.read_csv(r"file3.csv", low_memory=False, encoding = "ISO-8859-1")
#Set Index
master['id'] = master['record_id']
master = master.set_index(['id'])

### Select screening features we are interested in including in the analysis

In [2]:
master = master[[
                 'record_id',
                 'name',
                 'email',
                 'sex',
                 'age',
                 'years_edu',
                 'employment',
                 'monthly_income',
                 'marital_status',
                 'ethnicity',
                 'race',
                 'bmi',
                 'vetstatus',
                 'recruitment_method___1',
                 'recruitment_method___2',
                 'recruitment_method___3',
                 'recruitment_method___4',             
                 'recruitment_method___5',             
                 'recruitment_method___6',             
                 'recruitment_method___7',             
                 'recruitment_method___8',             
                 'recruitment_method___9',             
                 'recruitment_method___10',            
                 'recruitment_method___11',            
                 'recruitment_method___12',            
                 'recruitment_method___13',
                 'recruitment_method___14',
                 'recruitment_method___15',
                 'smoker_status',
                 'cigs_per_day',
                 'alc_dep',
                 'thc_dep',
                 'stim_dep',
                 'opiate_dep',
                 'nic_dep',
                 'coke_dep',
                 'other_dep',
                 'audit_score',
                 ]]

online = online[[
                 'record_id',
                 'name',
                 'email',
                 'sex',
                 'age',
                 'years_edu',
                 'employment',
                 'monthly_income',
                 'marital_status',
                 'ethnicity',
                 'race',
                 'bmi',
                 'vetstatus',
                 'recruitment_method___1',
                 'recruitment_method___2',
                 'recruitment_method___3',
                 'recruitment_method___4',             
                 'recruitment_method___5',             
                 'recruitment_method___6',             
                 'recruitment_method___7',             
                 'recruitment_method___8',             
                 'recruitment_method___9',             
                 'recruitment_method___10',            
                 'recruitment_method___11',            
                 'recruitment_method___12',            
                 'recruitment_method___13',
                 'smoker_status',
                 'cigs_per_day',
                 'alc_dep_mild',
                 'mj_dep_mod',
                 'stim_dep_sev',
                 'opiate_dep_sev',
                 'nic_dep_sev',
                 'coc_dep_sev',
                 'other_dep_sev',
                 'audit'
                 ]]


master = master.rename(columns = {
                        'recruitment_method___1':'flyer', 
                        'recruitment_method___2':'radio_ad',
                        'recruitment_method___3': 'website',
                        'recruitment_method___4':'referral',
                        'recruitment_method___5':'previously_participated',
                        'recruitment_method___6':'craigslist',
                        'recruitment_method___7':'email_bulletin',
                        'recruitment_method___8':'other',
                        'recruitment_method___9':'facebook_ad',
                        'recruitment_method___10':'facebook_post',
                        'recruitment_method___11':'newspaper',
                        'recruitment_method___12':'bus_ad',
                        'recruitment_method___13':'billboard_ad',
                        'recruitment_method___14':'community_event',
                        'recruitment_method___15':'web search'
                        })



online = online.rename(columns = {
                        'recruitment_method___1':'flyer', 
                        'recruitment_method___2':'radio_ad',
                        'recruitment_method___3': 'website',
                        'recruitment_method___4':'referral',
                        'recruitment_method___5':'previously_participated',
                        'recruitment_method___6':'craigslist',
                        'recruitment_method___7':'email_bulletin',
                        'recruitment_method___8':'other',
                        'recruitment_method___9':'facebook_ad',
                        'recruitment_method___10':'facebook_post',
                        'recruitment_method___11':'newspaper',
                        'recruitment_method___12':'bus_ad',
                        'recruitment_method___13':'billboard_ad',
                        'audit':'audit_score', 
                        'alc_dep_mild':'alc_dep',
                        'mj_dep_mod': 'thc_dep',
                        'stim_dep_sev':'stim_dep',
                        'opiate_dep_sev':'opiate_dep',
                        'nic_dep_sev': 'nic_dep',
                        'coc_dep_sev': 'coc_dep',
                        'other_dep_sev': 'other_dep'
                        })

#Make lookup dictionaries
sex_dict = {
    1:'male',
    0:'female'
    }


race_dict = {
    0:'american indian',
    1:'asian',
    2:'hawaian',
    3:'african american',
    4:'white',
    5:'more than one race',
    6:'unknown',
    7:'other'
    }

marital_dict = {    
    1:'Never married',
    2:'Married',
    3:'Divorced',
    4:'Separated',
    5:'Widowed'
    }

employment_dict = {
    1:'Full time',
    2:'Part time',
    3:'Unemployed'
    }

ethnicity_dict = {
    0:'Hispanic',
    1:'NOT Hispanic',
    2:'Unknown'
    }

#Give categorical variables strings values so pd.get_dummies() works
master['sex'] = master['sex'].apply(lambda x: sex_dict[x] if x in list(sex_dict.keys()) else x)
master['employment'] = master['employment'].apply(lambda x: employment_dict[x] if x in list(employment_dict.keys()) else x)
master['marital_status'] = master['marital_status'].apply(lambda x: marital_dict[x] if x in list(marital_dict.keys()) else x)
master['ethnicity'] = master['ethnicity'].apply(lambda x: ethnicity_dict[x] if x in list(ethnicity_dict.keys()) else x)
master['race'] = master['race'].apply(lambda x: race_dict[x] if x in list(race_dict.keys()) else x)

online['sex'] = online['sex'].apply(lambda x: sex_dict[x] if x in list(sex_dict.keys()) else x)
online['employment'] = online['employment'].apply(lambda x: employment_dict[x] if x in list(employment_dict.keys()) else x)
online['marital_status'] = online['marital_status'].apply(lambda x: marital_dict[x] if x in list(marital_dict.keys()) else x)
online['ethnicity'] = online['ethnicity'].apply(lambda x: ethnicity_dict[x] if x in list(ethnicity_dict.keys()) else x)
online['race'] = online['race'].apply(lambda x: race_dict[x] if x in list(race_dict.keys()) else x)

### Some preliminary cleaning of each dataset

In [5]:
#Set all strings to lowercase for ease of string comparisons
master = master.applymap(lambda s:s.lower() if type(s) == str else s)
online = online.applymap(lambda s:s.lower() if type(s) == str else s)
outlook = outlook.applymap(lambda s:s.lower() if type(s) == str else s)
#Clean out empty records without a name
online = online.dropna(subset=['name'])
master = master.dropna(subset=['name'])
#Record 'checked' and 'unchecked' to 1 and 0

### Will start with cleaning the outlook data since that is the key to determining our target variable
This data is quite messy and we need to make decisions about what to consider a true "No Show" and what other variables we can derive such as duration of appointment etc...

In [6]:
#Clean out the straggling MRI scanning appointments, they are of no use
outlook = outlook[outlook['Subject'].str.contains('scan') == False]
#Split the subject variable to derive the participant ID and additional info
outlook[['id', 'extra']] = outlook['Subject'].str.split('-', 1, expand=True)
#Use Regex to search for values that follow the exact pattern of XX####
outlook['id'] = outlook['id'].str.extract('(^\S\S\d{4})')
#Use Regex to extract the numerical values only from this string
outlook['id'] = outlook['id'].str.extract('(\d+)')
#Strip any extra white space
outlook['extra'] = outlook['extra'].str.strip()
#Split the additional data string to derive the study number and session 
outlook[['study', 'session']] = outlook['extra'].str.split(' ', 1, expand=True)
#Drop appointments without a participant ID
outlook = outlook.dropna(subset=['id'])
#Drop the appointments without a 'Categories' field, it is impossible to determine a result without it
outlook = outlook.dropna(subset = ['Categories'])
#Looking at only first(Consent) appointments for now
outlook = outlook[outlook['Categories'].str.contains('consent')]
#Not sure what to do with cancelled appointments, removing for now
outlook = outlook[~outlook['Categories'].str.contains('cancel')]
#Set id to data type int to prepare it for being called as the index
outlook['temp_id'] = outlook['id'].astype('int')
outlook['id'] = outlook['id'].astype('int')
outlook = outlook.set_index(['temp_id'])

### Now we need to know which participants we will need to find REDCap data for

In [7]:
#Generate a list of IDs for each appointment
participants = list(outlook.id.unique())
#Get the number of unique IDs in our appointment dataset
len(participants)

1524

In [8]:
#Find the participants that we need and their screening data
master = master.loc[participants]
#Check that no record ID's are null values
master.record_id.isna().sum()

c:\python36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

9

Uh oh! We have null record ID's we will need to remove them from this dataset and also our outlook dataset

In [9]:
#Generate a list of the problem ID's
problem_ids = list(master.loc[master['record_id'].isnull()].index)
#Clean out these records with null ID's
master = master.dropna(subset=['record_id'])

Let's clean these out of our Outlook dataset as well, these ID's are problematic and clearly do not exist if they were not found in REDCap

In [10]:
outlook = outlook.loc[~outlook.id.isin(problem_ids)]

In [11]:
#Quick double check
print(len(list(outlook.id.unique())))
print(len(master.record_id))

1515
1515

### Diving in deeper to REDCap Data

A little history about screening data... When a new participant is added to the master screen that 4 digit ID will be their participant ID for all studies. Online screenning data is too messy and erratic to let participants add new screens to our "Master Record system". Therefore an online screen was added as a seperate tool for intial screening and when a participant is scheduled, add them to the the Master REDCap. This is typically just barebones contact info that is entered. The problem is if the participant never comes in to do a study then their Master screen will remain incomplete. We really need as much of this info as possible for our model so we can try to harvest what info we can from completed online screens.

Going to try joining on name and using the online screen data to fill in the missing values.

In [12]:
master.isna().sum().mean()#Lots of missing data!

122.23684210526316

### Steps to prepare for and perform join on 'name'

In [12]:
#Get a dataframe from the online screen containing the same names
onlinefill = online[online['name'].isin(master['name'])]
#Preserve name in index
onlinefill['temp_name'] = online['name']
#Get a dataframe for just id and name to prepare for the join
merge_df = master[['record_id', 'name']]
#Preserve name in index
merge_df['temp_name'] = merge_df['name']
#Set index to name to prepare for the join
merge_df = merge_df.set_index(['temp_name'])
onlinefill = onlinefill.set_index(['temp_name'])
#Join on name and set index to record_id
joinfill = merge_df.join(onlinefill, how='left',lsuffix='_master', rsuffix='_online')
joinfill['master_id'] = joinfill['record_id_master']
joinfill['record_id_master'] = joinfill['record_id_master'].astype('int')
joinfill = joinfill.set_index(['record_id_master'])
#fill = merge_df.combine_first(onlinefill)
#This looks like the ticket!!!
danger = master.combine_first(joinfill)
danger.drop_duplicates(subset=['record_id'], inplace=True)

c:\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\python36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
danger.shape

(1515, 43)

Let's test to see how many values we might have gained... looks like across most features we gained 200+ more values. Not bad!

In [15]:
master.isna().sum()-danger.isna().sum()

age                        181.0
alc_dep                      0.0
audit_score                296.0
billboard_ad                 0.0
bmi                        211.0
bus_ad                       0.0
cigs_per_day               146.0
coc_dep                      NaN
coke_dep                     0.0
community_event              0.0
craigslist                   0.0
email                       57.0
email_bulletin               0.0
employment                 197.0
ethnicity                  194.0
facebook_ad                  0.0
facebook_post                0.0
flyer                        0.0
marital_status             206.0
master_id                    NaN
monthly_income             191.0
name                         0.0
name_master                  NaN
name_online                  NaN
newspaper                    0.0
nic_dep                      0.0
opiate_dep                   0.0
other                        0.0
other_dep                    0.0
previously_participated      0.0
race                       206.0
radio_ad                     0.0
record_id                    0.0
record_id_online             NaN
referral                     0.0
sex                        119.0
smoker_status              207.0
stim_dep                     0.0
thc_dep                      0.0
vetstatus                  216.0
web search                   0.0
website                      0.0
years_edu                  186.0
dtype: float64

In [16]:
danger.isna().sum()

age                         28
alc_dep                      0
audit_score                525
billboard_ad                 0
bmi                        362
bus_ad                       0
cigs_per_day               429
coc_dep                    707
coke_dep                     0
community_event              0
craigslist                   0
email                      315
email_bulletin               0
employment                  34
ethnicity                   59
facebook_ad                  0
facebook_post                0
flyer                        0
marital_status              33
master_id                    0
monthly_income              65
name                         0
name_master                  0
name_online                707
newspaper                    0
nic_dep                      0
opiate_dep                   0
other                        0
other_dep                    0
previously_participated      0
race                        34
radio_ad                     0
record_id                    0
record_id_online           707
referral                     0
sex                         15
smoker_status               32
stim_dep                     0
thc_dep                      0
vetstatus                   67
web search                   0
website                      0
years_edu                   34
dtype: int64

In [17]:
master.isna().sum()

record_id                    0
name                         0
email                      372
sex                        134
age                        209
years_edu                  220
employment                 231
monthly_income             256
marital_status             239
ethnicity                  253
race                       240
bmi                        573
vetstatus                  283
flyer                        0
radio_ad                     0
website                      0
referral                     0
previously_participated      0
craigslist                   0
email_bulletin               0
other                        0
facebook_ad                  0
facebook_post                0
newspaper                    0
bus_ad                       0
billboard_ad                 0
community_event              0
web search                   0
smoker_status              239
cigs_per_day               575
alc_dep                      0
thc_dep                      0
stim_dep                     0
opiate_dep                   0
nic_dep                      0
coke_dep                     0
other_dep                    0
audit_score                821
dtype: int64

In [21]:
master.bmi.mean()

29.559444183006374

### Use our temporary dataframe to fill in null values using data from the online screen

In [13]:
#Replace obvious outliers
master['monthly_income'] = master['monthly_income'].apply(lambda x: 4000 if x > 35000 else x)

master.at[3923,'bmi'] = 39.48
master.at[4849,'bmi'] = 28.46
master.at[2220,'bmi'] = 39.45
master.at[3978,'bmi'] = 42.96
master.at[4773,'bmi'] = 36.13
master.at[3826,'bmi'] = 35.26

#Fill missing values with the joined online data
master = master.fillna(danger)

In [14]:
master.bmi.describe()

count    1153.000000
mean       29.657539
std         7.815985
min        15.188272
25%        23.625289
50%        28.286391
75%        34.207396
max        63.872106
Name: bmi, dtype: float64

In [15]:
master.bmi.median()

28.28639053

In [16]:
#Fill some null values with 0
master['audit_score'].fillna(0, inplace=True)
master['cigs_per_day'].fillna(0, inplace=True)
master['smoker_status'].fillna(0, inplace=True)
master['vetstatus'].fillna(0, inplace=True)
#Fill others with mean
master['bmi'].fillna(master.bmi.mean(), inplace=True)
master['age'].fillna(master.age.mean(), inplace=True)
master['years_edu'].fillna(master.years_edu.mean(), inplace=True)

#Fill income with median
master['monthly_income'].fillna(master.monthly_income.median(), inplace=True)

master.drop(labels = ['record_id','name', 'email'], axis=1, inplace=True )
#One-hot encoding cat variables
#encoded = pd.get_dummies(master)

In [17]:
master.describe()

               age    years_edu  monthly_income          bmi    vetstatus        flyer     radio_ad      website     referral  previously_participated   craigslist  email_bulletin        other  facebook_ad  facebook_post    newspaper       bus_ad  billboard_ad  community_event   web search  smoker_status  cigs_per_day      alc_dep      thc_dep     stim_dep   opiate_dep      nic_dep     coke_dep    other_dep  audit_score
count  1515.000000  1515.000000     1515.000000  1515.000000  1515.000000  1515.000000  1515.000000  1515.000000  1515.000000              1515.000000  1515.000000     1515.000000  1515.000000  1515.000000    1515.000000  1515.000000  1515.000000   1515.000000       1515.00000  1515.000000    1515.000000   1515.000000  1515.000000  1515.000000  1515.000000  1515.000000  1515.000000  1515.000000  1515.000000  1515.000000
mean     37.318090    13.071236     1135.251703    29.657539     0.071947     0.190759     0.006601     0.037624     0.316172                 0.071287     0.223762        0.040924     0.034983     0.022442       0.004620     0.002640     0.008581      0.001320          0.00198     0.002640       0.713531     13.609241     0.320792     0.156436     0.040264     0.058086     0.545875     0.145875     0.011881     8.751815
std      12.110307     2.311912     1318.575552     6.817844     0.258486     0.393029     0.081003     0.190347     0.465134                 0.257389     0.416902        0.198180     0.183799     0.148166       0.067839     0.051333     0.092265      0.036322          0.04447     0.051333       0.452260     12.120287     0.466935     0.363388     0.196643     0.233983     0.498055     0.353097     0.108387    10.450888
min      18.000000     0.000000        0.000000    15.188272     0.000000     0.000000     0.000000     0.000000     0.000000                 0.000000     0.000000        0.000000     0.000000     0.000000       0.000000     0.000000     0.000000      0.000000          0.00000     0.000000       0.000000      0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000
25%      27.000000    12.000000      200.000000    25.056806     0.000000     0.000000     0.000000     0.000000     0.000000                 0.000000     0.000000        0.000000     0.000000     0.000000       0.000000     0.000000     0.000000      0.000000          0.00000     0.000000       0.000000      0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000
50%      36.000000    12.000000      800.000000    29.657539     0.000000     0.000000     0.000000     0.000000     0.000000                 0.000000     0.000000        0.000000     0.000000     0.000000       0.000000     0.000000     0.000000      0.000000          0.00000     0.000000       1.000000     12.000000     0.000000     0.000000     0.000000     0.000000     1.000000     0.000000     0.000000     4.000000
75%      47.000000    14.000000     1500.000000    32.058392     0.000000     0.000000     0.000000     0.000000     1.000000                 0.000000     0.000000        0.000000     0.000000     0.000000       0.000000     0.000000     0.000000      0.000000          0.00000     0.000000       1.000000     20.000000     1.000000     0.000000     0.000000     0.000000     1.000000     0.000000     0.000000    16.000000
max      66.000000    23.000000    12000.000000    63.872106     1.000000     1.000000     1.000000     1.000000     1.000000                 1.000000     1.000000        1.000000     1.000000     1.000000       1.000000     1.000000     1.000000      1.000000          1.00000     1.000000       1.000000     80.000000     1.000000     1.000000     1.000000     1.000000     1.000000     1.000000     1.000000    40.000000

### Now that our screening data has been cleaned up a bit, join with outlook data so each appointment has associated screening values.

In [21]:
df = outlook.join(master, how='left',lsuffix='_outlook', rsuffix='_redcap')
#Collapse categories indicating the participant "showed" for their appointment.
df['target'] = df['Categories'].apply(lambda x: 1 if 'session run'in x or 'screen fail' in x or 'ineligible to enroll' in x else 0)

In [52]:
df = df.drop(labels= ['Subject',                         
'Start Date',                      
'Start Time',                      
'End Date',                       
'End Time',                       
'All day event',                   
'Reminder on/off',                 
'Reminder Date',                  
'Reminder Time',                   
'Meeting Organizer',               
'Required Attendees',              
'Optional Attendees',              
'Meeting Resources',               
'Billing Information',             
'Categories',                      
'Description',                     
'Location',                       
'Mileage',                        
'Priority',                        
'Private',                         
'Sensitivity',                     
'Show time as',                    
'id',                              
'extra',                           
'study',                           
'session'],axis=1)

In [55]:
#Output data to file for future use.
df.to_csv('Data_Combined_Cleaned_10.11.18_no_dummies.csv')